.grid {
  height: 40px;
  width: 40px;
}

.startNode {
  background-color: cyan;
}

.endNode {
  background-color: cornsilk;
}

.unvisitedNode {
  background-color: lightgray;
}

.visitedNode {
  background-color: blue;
  animation-name: visited;
  animation-duration: 2s;
}

.pathNode {
  background-color: orange;
  animation-name: path;
  animation-duration: 2s;
}

.wallNode {
  background-color: darkgray;
}

@keyframes visited {
  from {
    background-color: lightgrey;
  }
  to {
    background-color: blue;
  }
}
@keyframes path {
  from {
    background-color: blue;
  }
  to {
    background-color: orange;
  }
}
