$startNode: red;
$endNode: blue;
$unvisitedNode: lightgray;
$visitedNode: purple;
$pathNode: yellow;
$wallNode: darkgray;

.grid {
  height: 40px;
  width: 40px;
}

.startNode {
  background-color: $startNode;
}

.endNode {
  background-color: $endNode;
}

.unvisitedNode {
  background-color: $unvisitedNode;
}

.visitedNode {
  background-color: $visitedNode;
  animation-name: visited;
  animation-duration: 2s;
}

.pathNode {
  background-color: $pathNode;
  animation-name: path;
  animation-duration: 2s;
}

.wallNode {
  background-color: $wallNode;
}

@keyframes visited {
  from {
    background-color: $unvisitedNode;
  }
  to {
    background-color: $visitedNode;
  }
}
@keyframes path {
  from {
    background-color: $visitedNode;
  }
  to {
    background-color: $pathNode;
  }
}
