* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;

  // background-color: pink;
  // background-color: white;
}

html {
  // background-color: orange;
  // background-color: white;
}

header {
  // background-color: blue;
}

body {
  font-size: 1.1rem;
  padding: 25px 10vw;
  // background-color: green;
  // background-color: white;
}

nav {
  height: 50px;
  margin-bottom: 10px;
}

ul {
  height: 100%;
  display: flex;
}

li {
  // background-color: yellow;

  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  list-style: none;
  // transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  // transition: transform 0.5s ease-in-out;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
a:hover {
  transform: scale(1.15);
}

p {
  margin-bottom: 10px;
}

button {
  height: 30px;
  padding: 8px;
  background-color: lightgray;
}

.nav {
  // background-color: yellow;
  color: blue;
}

.nav:hover {
  height: 25px;
  color: red;
}

.subjectTitle {
  font-size: 2rem;
  padding: 10px 0px;
}

.header {
  // background-color: blue;
}

.myName {
  font-size: 3rem;
}

.icon {
  font-size: 1.2rem;
}

.main {
  background-color: rgb(190, 213, 214);
  padding: 10px 30px;
}
