$mainBlue: hsl(240, 85%, 40%);
$secondaryBlue: hsl(240, 85%, 95%);
$text: rgb(20, 20, 20);
$temp: rgba(255, 0, 0, 0.75)


* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;


  // background-color: pink;
  // background-color: white;
}

html {
  // background-color: orange;
  // background-color: white;
}

header {
  margin: -10px -30px;
  padding: 0 30px;
  background-color: $mainBlue;
}

body {
  font-size: 1.1rem;
  padding: 25px 10vw;
  // background-color: green;
  // background-color: white;
}

nav {
  height: 50px;
  margin: 10px 0px;
}

ul {
  height: 100%;
  display: flex;
}

li {
  background-color: $secondaryBlue;

  margin: 0 -30px;
  padding: 0 30px;

  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  list-style: none;
  // transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  // transition: transform 0.5s ease-in-out;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
  will-change: transform;
}
a:hover {
  transform: scale(1.15);
  color: red;
}

p {
  margin-bottom: 10px;
  color: $text;
}

button {
  cursor: pointer;
  height: 30px;
  padding: 8px;
  background-color: $secondaryBlue;
  color: $mainBlue;
  font-weight: normal;
  transition: color 0.5s ease-in-out, font-weight, 0.5s ease-in-out;
}

button:hover {
  color: red;
  font-weight: bold;
}

.nav {
  color: $mainBlue;
  // color: pink;
  // background-color: yellow;
  // color: blue;
}

.nav:hover {
  height: 25px;
  // color: red;
}

.subjectTitle {
  color: $mainBlue;
  font-size: 2rem;
  padding: 10px 0px;
}

.header {
  // background-color: lightblue;
  color: $secondaryBlue;
}

.myName {
  font-size: 3rem;
}

.icon {
  margin-right: 5px;
  font-size: 1.2rem;
}

.main {
  background-color: rgb(250, 250, 250);
  padding: 10px 30px;
}

.slider {
  -webkit-appearance: none;
  // width: 100%;
  // height: 10px;
  border-radius: 5px;
  background: $secondaryBlue;
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}
