* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

header {
  margin: -10px -30px;
  padding: 0 30px;
  background-color: #0f0fbd;
}

body {
  font-size: 1.1rem;
  padding: 25px 10vw;
}

nav {
  height: 50px;
  margin: 10px 0px;
}

ul {
  height: 100%;
  display: flex;
}

li {
  background-color: #e7e7fd;
  margin: 0 -30px;
  padding: 0 30px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
  will-change: transform;
}

a:hover {
  transform: scale(1.15);
  color: red;
}

p {
  margin-bottom: 10px;
  color: #141414;
}

button {
  cursor: pointer;
  height: 30px;
  padding: 8px;
  background-color: #e7e7fd;
  color: #0f0fbd;
  font-weight: normal;
  transition: color 0.5s ease-in-out, font-weight, 0.5s ease-in-out;
}

button:hover {
  color: red;
  font-weight: bold;
}

.nav {
  color: #0f0fbd;
}

.nav:hover {
  height: 25px;
}

.subjectTitle {
  color: #0f0fbd;
  font-size: 2rem;
  padding: 10px 0px;
}

.header {
  color: #e7e7fd;
}

.myName {
  font-size: 3rem;
}

.icon {
  margin-right: 5px;
  font-size: 1.2rem;
}

.main {
  background-color: #fafafa;
  padding: 10px 30px;
}

.slider {
  -webkit-appearance: none;
  border-radius: 5px;
  background: #e7e7fd;
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}