* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  // background-color: rgb(240, 240, 240);
  background-color: pink;
}

html {
  background-color: orange;
}

body {
  font-size: 1.1rem;
  padding: 25px 10vw;
  // background-color: white;
  background-color: green;
}

footer {
  background-color: white;
}

nav {
  height: 50px;
}

ul {
  height: 100%;
  display: flex;
}

li {
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  list-style: none;
  // transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  // transition: transform 0.5s ease-in-out;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}
a:hover {
  transform: scale(1.15);
}

p {
  margin-bottom: 10px;
}

button {
  height: 30px;
  padding: 8px;
  background-color: lightgray;
}

.nav {
  color: blue;
}

.nav:hover {
  height: 25px;
  color: red;
}

.subjectTitle {
  font-size: 2rem;
  padding: 10px 0px;
}
.header {
  font-size: 3rem;
}
